<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.micode.notes"
    android:versionCode="2"
    android:versionName="0.2" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="24" />
    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 这个权限用于网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问WIFI网络信息，WIFI信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 这个权限用于获取WIFI的获取权限，WIFI信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:name="net.micode.notes.MyApplication"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56a62260e0f55a6d0b0004ae" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="360MobileAssistant" />
        <meta-data
            android:name="net.micode.notes.GlideConfiguration"
            android:value="GlideModule" />

        <activity
            android:name="net.micode.notes.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.micode.notes.activity.WelcomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name=".activity.ResideMenuItem.ProfileActivity" >
        </activity>
        <activity android:name=".activity.ResideMenuItem.PictureActivity" >
        </activity>
        <activity android:name=".activity.ResideMenuItem.CalendarActivity" >
        </activity>
        <activity android:name=".activity.ResideMenuItem.CameraActivity" >
        </activity>
        <activity android:name=".activity.ResideMenuItem.CameraBeginActivity" />
        <activity android:name=".activity.ResideMenuItem.CustomCameraActivity" />
        <activity android:name=".activity.ResideMenuItem.BarCodeActivity" />
        <activity android:name="com.zbar.lib.CaptureActivity" />
        <!-- X5WebView -->
        <activity android:name="net.micode.notes.activity.X5WebViewActivity" >
        </activity>
        <activity android:name="com.zhy.sample_okhttp.OkHttpActivity" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.AboutTabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.ProtocolActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.UserGuiDeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.FindPwdTabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.FindPwdPhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.FindPwdEmailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.ResetPwdPhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.register.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.imagefactory.ImageFactoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.main.NearByActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.main.NearByFeedsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.main.SessionListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.main.ContactTabsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.main.UserSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.OtherProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.ImageBrowserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.OtherFeedListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.FeedProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|adjustResize" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.message.ChatActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/Splash" >
        </activity>
        <activity android:name="net.micode.notes.ui.LoginActivity" >
        </activity>
        <activity android:name=".MyActivity" >
        </activity>
        <activity
            android:name=".activity.ImageActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <activity
            android:name=".ui.NotesListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoteTheme"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".ui.NoteEditActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/NoteTheme" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/text_note" />
                <data android:mimeType="vnd.android.cursor.item/call_note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT_OR_EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/text_note" />
                <data android:mimeType="vnd.android.cursor.item/call_note" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="net.micode.notes.db.NotesProvider"
            android:authorities="micode_notes"
            android:multiprocess="true" />

        <receiver
            android:name=".widget.NoteWidgetProvider_2x"
            android:label="@string/app_widget2x2" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.PRIVACY_MODE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_2x_info" />
        </receiver>
        <receiver
            android:name=".widget.NoteWidgetProvider_4x"
            android:label="@string/app_widget4x4" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.intent.action.PRIVACY_MODE_CHANGED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_4x_info" />
        </receiver>
        <receiver android:name=".ui.AlarmInitReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="net.micode.notes.ui.AlarmReceiver"
            android:process=":remote" >
        </receiver>

        <activity
            android:name=".ui.AlarmAlertActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar" >
        </activity>
        <activity
            android:name="net.micode.notes.ui.NotesPreferenceActivity"
            android:label="@string/preferences_title"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>

        <service
            android:name="net.micode.notes.gtask.remote.GTaskSyncService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".ui.NoteEditActivity" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105252041" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- windowSoftInputMode属性是为了不默认弹出软键盘 -->
        <activity
            android:name="net.micode.notes.activity.WeatherActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="net.micode.notes.fragment.HomePageFragment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.fragment.LifeIndexFragment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.AddCityActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- 声明service组件,每个app拥有自己单独的定位service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 百度地图定位 -->
        <activity android:name="net.micode.notes.activity.ResideMenuItem.BaiduMapActivity" >
        </activity>
        <activity
            android:name="net.micode.notes.activity.ResideMenuItem.BNDemoGuideActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" >
        </activity>

        <receiver
            android:name="com.tencent.sample.AppRegister"
            android:permission="com.tencent.mm.plugin.permission.SEND" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="BUG_HD_SDK_GENERAL_KEY"
            android:value="5c03f7e08450c511aabf7bfa74a20b52" />
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="GnofzIt3VcuwDxDkgfuFkcwmB8N5vapI" />
    </application>

</manifest>